
  <!-- Sidebar Naviagation -->
  <div class="hidden-xs">
    <div id="sidebar">
      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
      <ul>
        <%= image_tag "tmp_logo_side", class: "sidebar_logo" %>
        <li id="hme"><a href="#home">Home</a></li>
        <li id="wia"><a href="#who_i_am">About me</a></li>
        <li id="wid"><a href="#what_i_do">What I do</a></li>
        <li id="mw"><a href="#my_work">My work</a></li>
        <li id="ct"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="hidden-md hidden-lg hidden-sm">
    <div class="navbar-wagon">
      <!-- Logo -->
        <a href="/" class="navbar-wagon-brand">
          <%= image_tag "tmp_logo_side", class: "sidebar_logo" %>
        </a>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#mobile_home">Home</a></li>
          <li><a href="#mobile_who_i_am">About me</a></li>
          <li><a href="#mobile_what_i_do">What I do</a></li>
          <li><a href="#mobile_my_work">My work</a></li>
          <li><a href="#mobile_contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Mobile HTML -->
<div class="hidden-lg hidden-md hidden-sm">
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ab428e21d89e5fc9eb58c31273c3751&auto=format&fit=crop&w=934&q=80)">
    <div id="mobile_home">
      <div class="mobile_home__text">
        <div class="mobile_home__name">
          <p>I'm Tom Patton.</p>
        </div>
        <div class="mobile_home__sub">
          <p>Business strategest, web designer, and developer in New York City working with businesses, entrepeneurs and freelancers.</p>
        </div>
        <a class='btn_block_white' href="#mobile_contact">Say Hello!</a>
      </div>
    </div>
  </div>

  <div id="mobile_who_i_am">
    <h1 class="mobile_who_i_am__title">Hello.</h1>
    <div class="mobile_who_i_am__para">
      <p>I’m a business strategy professional turned web designer and developer. I can help you market, design, and launch your freelance website, blog, or startup MVP. </p>
    </div>
    <div class="mobile_who_i_am__links">
      <a class="mobile_who_i_am__link"href="#contact">CONTACT</a>
      <a class="mobile_who_i_am__link"href="https://www.linkedin.com/in/tom-patton">LINKEDIN</a>
      <a class="mobile_who_i_am__link" href="https://github.com/tompatton2">GITHUB</a>
      <!-- <a class="who_i_am__link"href="">SKETCH</a> -->
    </div>
  </div>

  <div id="mobile_what_i_do">
    <h1 class="mobile_what_i_do__title">What I do</h1>
    <div class="mobile_what_i_do_container">
      <div class="mobile_what_i_do__element">
        <%= image_tag "suitcase.svg", class: "mobile_what_i_do__icon" %>
        <p class="mobile_what_i_do__header">BUSINESS</p>
        <p class="mobile_what_i_do__text">My background is in business strategy and management. I've worked with Cisco, Google, and HotelTonight. </p>
      </div>
      <div class="mobile_what_i_do__element">
        <%= image_tag "pencil.svg", class: "mobile_what_i_do__icon" %>
        <p class="mobile_what_i_do__header">DESIGN</p>
        <p class="mobile_what_i_do__text">I come from a family of architects and artists. Design is my hobby and passion.</p>
      </div>
      <div class="mobile_what_i_do__element">
        <%= image_tag "html.svg", class: "mobile_what_i_do__icon" %>
        <p class="mobile_what_i_do__header">DEVELOPMENT</p>
        <p class="mobile_what_i_do__text">Lorem ipsum dolor sit amet, te velit iriure has. Vix quem feugiat id. At oblique accusata prodesset vis, eam ad latine vivendum.</p>
      </div>
    </div>
  </div>
  <div class="my_work__background">
    <div id="mobile_my_work">
      <h1 class="my_work__title">The things I've made</h1>
      <div class="my_work__container">
        <div class="my_work__header">
          <p>WEB APPS</p>
        </div>
        <div class="my_work__item">
          <a href="#home">
            <%= image_tag "swapp_black.svg", class: "carousel_image" %>
          </a>
        </div>
        <a href="#home">
          <%= image_tag "pupp_black.svg", class: "carousel_image" %>
        </a>
      </div>
    </div>
  </div>

  <div id="mobile_contact">
    <h1 class="contact__title">Let's build together.</h1>
    <div class="contact__container">
      <div class="contact__form">
        <div class="form">
          <%= form_for @inbound do |c| %>
          <div class="form__content">
            <%= c.label :name, "Name" %>
            <%= c.text_field :name %>
            <%= c.label :email, "Email" %>
            <%= c.text_field :email %>
            <%= c.label :message, "Message" %>
            <%= c.text_field :message, :class => 'form__message' %>
          </div>
          <%= c.submit 'Contact Tom', :class => 'btn_transparent_white'%>
          <% end %>
        </div>
      </div>
      <div class="contact__links">
        <a class="contact__link"href="https://www.linkedin.com/in/tom-patton">LINKEDIN</a>
        <a class="contact__link" href="https://github.com/tompatton2">GITHUB</a>
        <!-- <a class="contact__link"href="">SKETCH</a> -->
      </div>
    </div>
  </div>
</div>


  <!-- Desktop HTML -->
<div class="hidden-xs">
  <div class="page_container">
    <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ab428e21d89e5fc9eb58c31273c3751&auto=format&fit=crop&w=934&q=80)">
      <div id="home">
        <div class="home__text">
          <div class="home__name">
            <p>I'm Tom Patton.</p>
          </div>
          <div class="home__sub">
            <p>Business strategest, web designer, and developer in New York City working with businesses, entrepeneurs and freelancers.</p>
          </div>
          <div class="home__button">
            <a id="cta" class='btn_block_white' href="#contact">Say Hello!</a>
          </div>
        </div>
      </div>
    </div>

    <div id="who_i_am">
      <h1 class="who_i_am__title">Hello.</h1>
      <div class="who_i_am__para">
        <p>I’m a business strategy professional turned web designer and developer. I can help you market, design, and launch your freelance website, blog, or startup MVP. </p>
      </div>
      <div class="who_i_am__links">
        <a class="who_i_am__link"href="#contact">CONTACT</a>
        <a class="who_i_am__link"href="https://www.linkedin.com/in/tom-patton">LINKEDIN</a>
        <a class="who_i_am__link" href="https://github.com/tompatton2">GITHUB</a>
        <!-- <a class="who_i_am__link"href="">SKETCH</a> -->
      </div>
    </div>

    <div id="what_i_do">
      <h1 class="what_i_do__title">What I do</h1>
      <div class="what_i_do_container">
        <div class="what_i_do__element">
          <%= image_tag "suitcase.svg", class: "what_i_do__icon" %>
          <p class="what_i_do__header">BUSINESS</p>
          <p class="what_i_do__text">My background is in business strategy and management. I've worked with Cisco, Google, and HotelTonight. </p>
        </div>
        <div class="what_i_do__element">
          <%= image_tag "pencil.svg", class: "what_i_do__icon" %>
          <p class="what_i_do__header">DESIGN</p>
          <p class="what_i_do__text">I come from a family of architects and artists. Design is my hobby and passion.</p>
        </div>
        <div class="what_i_do__element">
          <%= image_tag "html.svg", class: "what_i_do__icon" %>
          <p class="what_i_do__header">DEVELOPMENT</p>
          <p class="what_i_do__text">Lorem ipsum dolor sit amet, te velit iriure has. Vix quem feugiat id. At oblique accusata prodesset vis, eam ad latine vivendum.</p>
        </div>
      </div>
    </div>
    <div class="my_work__background">
      <div id="my_work">
        <h1 class="my_work__title">The things I've made</h1>
        <div class="my_work__container">
          <div class="my_work__header">
            <p>WEB APPS</p>
          </div>
          <div class="my_work__item">
            <a href="#home">
              <%= image_tag "swapp_black.svg", class: "carousel_image" %>
            </a>
          </div>
          <a href="#home">
            <%= image_tag "pupp_black.svg", class: "carousel_image" %>
          </a>
        </div>
      </div>
    </div>

    <div id="contact">
      <h1 class="contact__title">Let's build together.</h1>
      <div class="contact__container">
        <div class="contact__form">
          <div class="form">
            <%= form_for @inbound do |c| %>
            <div class="form__content">
              <%= c.label :name, "Name" %>
              <%= c.text_field :name %>
              <%= c.label :email, "Email" %>
              <%= c.text_field :email %>
              <%= c.label :message, "Message" %>
              <%= c.text_area :message, :class => 'form__message' %>
            </div>
            <%= c.submit 'Contact Tom', :class => 'btn_transparent_white'%>
            <% end %>
          </div>
        </div>
        <div class="contact__links">
          <a class="contact__link"href="https://www.linkedin.com/in/tom-patton">LINKEDIN</a>
          <a class="contact__link" href="https://github.com/tompatton2">GITHUB</a>
          <a class="contact__link"href="mailto:tom.patton22@gmail.com">EMAIL</a>
        </div>
      </div>
    </div>
  </div>
</div>
